body {
  text-align: center;
  background-image: url("https://www.tynker.com/projects/images/5b9abecc8409f25045583e6d/background-scene---main-background-2.png");
  background-size: cover;
  
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
