body {
  text-align: center;
  background: #000;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 0 auto;

  
}

#game-board {
  width: 700px;
  height: 400px;
  margin: 10px 15px 5px 15px;
  background-color: black;
  display: none;
  border: 5px solid #fff;
}
