html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    background: grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    transition: right 0.5s;
}

aside button {
    flex-grow: 0;
    width: 100px;
    margin-bottom: 20px;
}